/alacrity_backend/venv
alacrity_backend/alacrity_backend/__pycache__
/alacrity_backend/alacrity_backend/migrations

/alacrity_backend/datasets/migrations
alacrity_backend/datasets/__pycache__
alacrity_backend/datasets/htmlcov
alacrity_frontend/node_modules



# Ignore all __pycache__ directories
**/__pycache__/
**/migrations/
**/htmlcov/
**.coverage

# Ignore compiled Python files
*.pyc
/alacrity_backend/datasets/htmlcov
# Ignore the virtual environment
/alacrity_backend/venv/
# all log files
*.log
/venv


/alacrity_backend/.env
/alacrity_backend/alacrity_backend/.env
/alacrity_frontend/node_modules
/alacrity_backend/background_task.log
/alacrity_backend/users/serializer.py
/alacrity_backend/media/submission_images
/alacrity_backend/media
/alacrity_frontend/src/app/geg
