Django
mysqlclient  
djangorestframework
pymysql
django-cors-headers
nanoid

# dotenv
python-dotenv


# storage for files
django-storages
boto3
django-storages[boto3]
minio

# for minio
django-minio-storage



# for background tasks

# for authentication
# djangorestframework-jwt
djangorestframework-simplejwt
Pillow









